body{
	margin: 0
	padding: 0;
	font-size: 16px;
	color: black
}
#header-nav{
	background-color: gray;
	font-size: 2em;
	border-radius: 0;
	border: 0;
}
.navbar-nav{
	text-align: center;
}
ul{
	float: right;
}
#gray{

	background-color: gray;

}
@media (max-width: 768px;) {
	#gray{
		margin-left: 10px;
	    margin-right: 10px
}

}
	
ul{
	float: right;
}
.nav-link{
	color: #ffffff;
	text-align: center;
}
span.navbar-brand{
	font-size: 35px;
	color: #00000
}

a>.nav-link{
	color: #ffffff
}
a>nav-link:hover{
	color: #00000
}
.nav-item a:hover, .nav-item a:focus{
	color: black;
}